<div class="container">
  <div class="cell">
    <div class="profile_banner">
      <div class="head_image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/07/Avatar_girl_face.png" alt="" />
      </div>
      <div class="head_text">
        <h4>
          编辑现有邮寄方式
        </h4>
      </div>
    </div>

    <div class="weui_cells_title">&nbsp;</div>
    <div class="weui_cells weui_cells_access">
      <a class="weui_cell" href="javascript;">
        <div class="weui_cell_hd">
          <img src="http://www.logodesignlove.com/images/classic/canada-post-logo.jpg" style="width:30px;margin-right:5px;display:block">
        </div>
        <div class="weui_cell_bd weui_cell_primary">
          <p>CanadaPost</p>
        </div>
        <div class="weui_cell_ft"></div>
      </a>
      <a class="weui_cell" href="javascript;">
        <div class="weui_cell_hd">
          <img src="http://sf.expresstochina.com/UploadFiles/b90304e4-84c1-4e41-9507-3e6ac6a01c89_EMS_logo-2.gif" style="width:30px;margin-right:5px;display:block">
        </div>
        <div class="weui_cell_bd weui_cell_primary">
          <p>EMS</p>
        </div>
        <div class="weui_cell_ft"></div>
      </a>
    </div>
  </div>
</div>

