<div class="container">
  <div class="cell">
    <div class="profile_banner">
      <div class="head_image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/07/Avatar_girl_face.png" alt="" />
      </div>
      <div class="head_text">
        <h4>
          编辑现有邮寄方式
        </h4>
      </div>
    </div>

    <div class="weui_cells_title">&nbsp;</div>
    <div class="weui_cells weui_cells_access" id="express_list"></div>
  </div>

  <script type="text/tempalte" id="editor_dialog_template">
    <div id="editor_dialog" class="weui_dialog_confirm">
      <div class="weui_mask"></div>
      <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">Edit Express Method</strong></div>
        <div class="weui_dialog_bd">
          <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
              <div class="weui_cell_hd">
                <label class="weui_label">Company</label>
              </div>
              <div class="div weui_cell_hd weui_cell_primary"><input id="company_field" class="weui_input" type="text" placeholder=""></div>
            </div>

            <div class="weui_cell weui_cell_select weui_select_after">
              <div class="weui_cell_hd">
                <label for class="weui_label">Country</label>
              </div>
              <div class="weui_cell_bd weui_cell_primary">
                <select id="country_option" class="weui_select">
                  <option value="Canada">加拿大</option>
                  <option value="USA">美国</option>
                  <option value="China">中国</option>
                </select>
              </div>
            </div>

            <div class="weui_cell weui_cell_select weui_select_before">
              <div class="weui_cell_hd">
                <select id="unit_option" class="weui_select">
                  <option value="1">kg</option>
                  <option value="2">lb</option>
                  <option value="3">article</option>
                </select>
              </div>
              <div class="weui_cell_bd weui_cell_primary"><input id="rate_field" class="weui_input" type="number" placeholder=""></div>
            </div>

            <div class="weui_cell weui_cell_select weui_select_after">
              <div class="weui_cell_hd"><label for class="weui_label" for="">EAT</label></div>
              <div class="weui_cell_bd weui_cell_primary">
                <select id="time_option" class="weui_select">
                  <option value="1">One week</option>
                  <option value="2">Two weeks</option>
                  <option value="3">One month</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="weui_dialog_ft">
          <a class="weui_btn_dialog default" href="">Cancel</a>
          <a class="weui_btn_dialog primary" href="">Save</a>
        </div>
      </div>
    </div>
  </script>

  </div>

