<div class="container">
  <div class="cell">
    <div class="profile_banner">
      <div class="head_image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/07/Avatar_girl_face.png" alt="" />
      </div>
      <div class="head_text">
        <h4>
          编辑现有邮寄方式
        </h4>
      </div>
    </div>

  </div>
</div>

