<div class="container">
  <div class="cell">
    <div class="profile_banner">
      <div class="head_image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/07/Avatar_girl_face.png" alt="" />
      </div>
      <div class="head_text">
        <h4>
          编辑现有邮寄方式
        </h4>
      </div>
    </div>

    <div class="weui_panel">
        <div id="express_list" class="weui_panel_bd"></div>
    </div>
    
    <div id="editor_modal"></div>
    <div id="action_sheet"></div>
  </div>

  <script type="text/template" id="editor_dialog_template">
    <div id="editor_dialog" class="weui_dialog_confirm">
      <div class="weui_mask"></div>
      <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title"></strong></div>
        <div class="weui_dialog_bd">
          <div class="weui_cells weui_cells_form">
            
            <div class="weui_cell weui_cell_select weui_select_before">
              <div class="weui_cell_hd">
                <select id="unit_option" class="weui_select">
                  <option value="1">kg</option>
                  <option value="2">lb</option>
                  <option value="3">article</option>
                </select>
              </div>
              <div class="weui_cell_bd weui_cell_primary"><input id="rate_field" class="weui_input" type="number" placeholder=""></div>
            </div>

            <div class="weui_cell weui_cell_select weui_select_after">
              <div class="weui_cell_hd"><label for class="weui_label" for="">EAT</label></div>
              <div class="weui_cell_bd weui_cell_primary">
                <select id="time_option" class="weui_select">
                  <option value="1">less than a week</option>
                  <option value="2">two weeks</option>
                  <option value="3">three weeks</option>
                  <option value="4">a month</option>
                  <option value="5">other</option>
                </select>
              </div>
            </div>
          </div>
          <div class="weui_cell" style="text-align: right;">
              <a id="delete_link">Delete?</a>
          </div>
        </div>
        <div class="weui_dialog_ft">
          <a class="weui_btn_dialog default">Cancel</a>
          <a class="weui_btn_dialog primary">Save</a>
        </div>
      </div>
    </div>
  </script>

  <script id="delete_action_sheet_template" type="text/template">
    <div id="delete_action_sheet">
      <div id="mask" class="weui_mask_transition"></div>
      <div id="weui_actionsheet" class="weui_actionsheet">
        <div class="weui_actionsheet_menu">
          <div id="actionsheet_delete" class="weui_actionsheet_cell"><span style="color:red;">Delete</span></div>
        </div>
        <div class="weui_actionsheet_action">
          <div id="actionsheet_cancel" class="weui_actionsheet_cell">
            Cancel
          </div>
        </div>
      </div>
    </div>
  </script>
  </div>

