<div class="weui_msg">
    <div class="weui_icon_area">
      <i class="weui_icon_warn weui_icon_msg"></i>
    </div>
    <div class="weui_text_area">
      <h2 class="weui_msg_title">授权失败</h2>
      <p class="weui_msg_desc">
        哎呀，微信服务器不给力
      </p>
    </div>
</div>
